# DS18B20 temperature sensor configuration options

# Copyright (c) 2020 Alexander Mihajlovic <a@abxy.se>
# SPDX-License-Identifier: Apache-2.0

menuconfig DS18B20
	bool "DS18B20 sensor"
	depends on W1
	help
	  Enable driver for DS18B20 1-wire temperature sensor.
